html, body {
    background: #EFF3F4;
    font-family: 'Open Sans', serif;
}

.hero-body .container {
    max-width: 700px;
}

.hero-body .title {
    color: hsl(192, 17%, 99%) !important;
}


.hero-body .subtitle {
    color: hsl(192, 17%, 99%) !important;
    padding-top: 2rem;
    line-height: 1.5;
}

.features {
    padding: 5rem 0;
}

.box.cta {
    border-radius: 0;
    border-left: none;
    border-right: none;
}

.card-image > .fa {
    font-size: 8rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: #fb8c00;
}

.card-content .content {
    font-size: 14px;
    margin: 1rem 1rem;
}

.card-content .content h4 {
    font-size: 18px;
    font-weight: 700;
}

.card {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
    margin-bottom: 2rem;
}

.intro {
    padding: 5rem 0;
    text-align: center;
}

.sandbox {
    padding: 5rem 0;
}

.tile.notification {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.is-orange{
    color: #fb8c00;
}

.is-shady {
    animation: flyintoright .4s backwards;
    background: #fff;
    box-shadow: rgba(0, 0, 0, .1) 0 1px 0;
    border-radius: 4px;
    display: inline-block;
    margin: 10px;
    position: relative;
    transition: all .2s ease-in-out;
}

.is-shady:hover {
    box-shadow: 0 10px 16px rgba(0, 0, 0, .13), 0 6px 6px rgba(0, 0, 0, .19);
}

/*adds font awesome stars*/
footer li:before {
    content: '\f1b2';
    font-family: 'FontAwesome', serif;
    float: left;
    margin-left: -1.5em;
    color: #fb8c00;
}
.author-image {
    display: block;
    width: 70%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.2rem;
    border: 3px solid #ccc;
    border-radius: 50%;
}

.author-imageModal {
    position: absolute;
    left: 180%;
    margin-left: -80px;
    border: 2px solid rgba(251, 140, 0, 0.87);
    border-radius: 50%;
}

.is-fullheight{
    background: linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
    ), url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvK4sKFx8SX740dw50qmzZ0adgyoYS-S_-0vxUL_-vPznn9-0Rvw') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
